<header>
	<h1>{{title}}</h1>
	
	<form>
		<div class="row">
			<div class="col s12">
				<nav>
					<div class="nav-wrapper">
						
					<a href="#!" class="book-library">Library</a>
						
					<ul class="right hide-on-med-and-down">
						<li><a href="/">Main</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/more">More</a></li>
					</ul>
					</div>
				</nav>
				
			</div>
		</div>
	</form>
	
 
</header>